<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:5501"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bike-store/

    # Redirect /src/auth/register to /bike-store/src/auth/register.php
    RewriteRule ^src/auth/register$ src/auth/register.php [L,QSA]

    # Redirect all other requests to src/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ src/index.php [L,QSA]
</IfModule>
